<!DOCTYPE html>
<html lang="en-us">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
      <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code for The Cure!</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <!-- Foundation docs @ https://foundation.zurb.com/sites/docs/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
      integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Oswald&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Adding fontawesome for social links   -->
    <script src="https://kit.fontawesome.com/59e5b17a76.js"></script>
    
  </head>
  <style></style>

  <body>
    <!-- Header -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/">Code for The Cure</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/story">Our Story</a></li>
          <li><a href="/cases">Case Studies</a></li>
          <li><a href="/calculator">Demo</a></li>
        </ul>
      </div>
    </div>

      
      <!-- ~~~~~~~~~~~~~~~~ TABLEAU CODE BEGIN-->
      <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
      <div class='tableauPlaceholder' style='width: 1400px; height: 750px;'><object class='tableauViz' width='1400' height='750' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value='&#47;t&#47;bc01'/>
        <param name='name' value='breastcancer&#47;Dashboard1'/>
        <param name='tabs' value='no' /><param name='toolbar' value='yes'/>
        <param name='showAppBanner' value='false'/>
        <param name='filter' value='iframeSizedToWindow=true'/></object></div>
    
    <!--  TABLEAU CODE END -->

<!-- D3 -->
    <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="graph-title">
                  <h3>Average Crude Rate by Race</h3>
              </div>
              <div id="race-chart"></div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="graph-title">
                  <h3>Average Crude Rate by Age</h3>
              </div>
              <div id="age-chart"></div>
          </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
      <!-- <script src="/datasets/race_average.js"></script>
      <script src="/datasets/age_average.js"></script> -->
      <script src="{{url_for('static', filename='js/age_average.js')}}"></script>
      <script src="{{url_for('static', filename='js/race_average.js')}}"></script>


   
    <!-- Footer -->
   <footer class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="cell large-12 text-center">
      <h3>Site Created By:</h3>
      <ul class="no-bullet">
        <li><a href="https://github.com/mikelygas">Mike Lygas</a></li>
        <li><a href="https://github.com/parin225">Parin Mody</a></li>
      </ul>
      <p>
        <small>
          <a href="#">Back to top</a>
        </small>
      </p>
    </div>
    <div class="cell large-3 text-center">
      <!-- Facebook link -->
      <a href="https://www.facebook.com/BreastCancerSupport.us/" target="_blank">
        <span style="font-size: 48px; color: #3b5998;">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>
      <!-- Twitter link -->
      <a href="https://twitter.com/breastcancer" target="_blank">
        <span style="font-size: 48px; color: Dodgerblue;">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      <!-- Instagram link -->
      <a href="https://www.instagram.com/explore/tags/breastcancer/" target="_blank">
        <span style="font-size: 48px; color: #fb3958">
          <i class="fab fa-instagram"></i>
        </span>
      </a>
    </div>
  </footer>


    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
      integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
